<template name="header">

  <div class="navbar-header">
    <a class="navbar-brand" href="{{pathFor 'home'}}">Microscope</a>
    <!-- <a class="navbar-brand" href="{{pathFor 'postsList'}}">{{pageTitle}}</a> -->
  </div>
  <div class="collapse navbar-collapse" id="navigation">

    <ul class="nav navbar-nav pull-right">
      {{> loginButtons}}
    </ul>

    {{#if currentUser}}
    <ul class="nav navbar-nav">
      <li><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li>

      <li>
        <a href="{{pathFor 'newPosts'}}">New</a>
      </li>
      <li>
        <a href="{{pathFor 'bestPosts'}}">Best</a>
      </li>

    </ul>
    <ul class="nav navbar-nav">
    <li class="dropdown">
      {{> notifications}}
    </li>
  </ul>
    {{/if}}
  </div>
</template>
